<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarkingImage_PhieuKiemDinh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MarkingImage_PhieuKiemDinh.Properties.Settings.PhieuKiemDinhConnectionString" connectionString="Data Source=10.10.10.248;Initial Catalog=PhieuKiemDinh;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <MarkingImage_PhieuKiemDinh.Properties.Settings>
            <setting name="LastSelectedFolder" serializeAs="String">
                <value/>
            </setting>
        </MarkingImage_PhieuKiemDinh.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
