<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhieuKiemDinh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PhieuKiemDinh.Properties.Settings.DatabaseDataEntryBPOConnectionString1"
            connectionString="Data Source=10.10.10.248;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhieuKiemDinh.Properties.Settings.PhieuKiemDinhConnectionString1"
            connectionString="Data Source=10.10.10.248;Initial Catalog=PhieuKiemDinh;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhieuKiemDinh.Properties.Settings.PhieuKiemDinhConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=PhieuKiemDinh;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="PhieuKiemDinh.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <PhieuKiemDinh.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="String" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomImage" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="PositionSplitMain" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="Truong3" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong4" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong5" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong6" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong7" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong8_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong8_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong9" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong10" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong11" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong12" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong13" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong14" serializeAs="String">
                <value />
            </setting>
            <setting name="FlagError" serializeAs="String">
                <value />
            </setting>
            <setting name="fBatchName" serializeAs="String">
                <value />
            </setting>
            <setting name="IdImage" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInput" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PositionSplitCheck" serializeAs="String">
                <value>433</value>
            </setting>
        </PhieuKiemDinh.Properties.Settings>
    </userSettings>
</configuration>